<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082981314332-ngbq8cqghgmt0o5g2of3bv40jv9cidmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082981314332-ngbq8cqghgmt0o5g2of3bv40jv9cidmk</string>
	<key>API_KEY</key>
	<string>AIzaSyALx86jdiRG9Dg1d8_R59cWPf3sZ2Zc7Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>1082981314332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-e99a4</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-e99a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082981314332:ios:787716783f402c4c0754d9</string>
</dict>
</plist>